@font-face {
    font-family:'Manrope-Regular';
    src: url(../fonts/Manrope-Regular.ttf);
}

@font-face {
    font-family:'PlayfairDisplay-Regular';
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
}