*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button {
    font-family:'Manrope-Regular';
    background-color: rgb(249 241 236);
    color: rgb(149 127 114);
    line-height: 1.6;
}

h1, h2, h3 {
    font-family:'PlayfairDisplay-Regular';
    font-size: 4rem;
    color: rgb(76 64 55);
}

h3 {
    font-size: 1.5rem;
}

.flex {
    display: flex;
}

.container {
    max-width: 80rem;
    width: 90%;
    margin: 0 auto;
}

.header {
    padding: 2rem 0;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo-div {
    z-index: 20;
}

.burger-shopping-cart {
    z-index: 20;
}

.logo {
    width: 90px;
    transition-duration: .5s;
}

.logo:hover {
    opacity: .7;
}

.shopping-cart {
    width: 30px;
    cursor: pointer;
}

.num-products {
    position: absolute;
    inset: -6px -12px auto auto;
    width: 22px;
    height: 22px;
    border: 1px solid rgb(182 164 151);
    border-radius: 100%;
    background-color: rgb(229 217 207);
    color: rgb(76 64 55);

    font-size: .8rem;
    line-height: 18px;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
}

/* shopping cart modal */

.modal-overlay {
    width: 100%; 
    position: fixed;
    inset: 0;
    
    background-color: rgba(0, 0, 0, .8);
    z-index: 40;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal-overlay.active {
    visibility: visible;
}

.modal {
    position: inherit;
    width: 40%;
    max-width: 480px;
    min-width: 320px;
    transition: 200ms ease-in-out;
    z-index: 20;
    background-color: rgb(255 255 255);
}

.title-close-button {
    justify-content: space-around;
    align-items: center;
    gap: 10em;
    padding: 1.5rem 0;
}

.close-button {
    font-size: 2rem;
    border: none;
    background-color: white;
    cursor: pointer;
}


.flex-text {
    padding: 7rem 0;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    color: rgb(149 127 114);
    background-color: rgb(229 217 207);

}

.burger-shopping-cart {
    align-items: center;
    gap: 2.5rem;
}

.burger-shopping-cart div:first-child {
    position: relative;
}

.burger-menu {
    width: 42px;
    height: 32px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
}

.burger-line-top {
    width: 100%;
    height: 2px;
    background-color: rgb(76 64 55);
}

.burger-line-bottom {
    width: 75%;
    height: 2px;
    margin-top: .7rem;
    background-color: rgb(76 64 55);
}

.burger-line-top.white-line {
    background-color: rgb(249, 241, 236);
    transform: rotate(45deg) translate(-8px, 13px);
}

.burger-line-bottom.white-line {
    width: 100%;
    background-color: rgb(249, 241, 236);
    transform: rotate(-45deg) translate(-2px, -16px);
}



.nav-links {
    position: fixed;
    inset: 0;
    background-color: rgb(76 64 55);
    display: none;
}

.nav-links.open {
    display: block;
}

.nav-links-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding-top: 8rem;

    color: rgb(255 255 255);
    font-size: 6rem;
    line-height: 1;
    font-weight: bold;
    text-transform: capitalize;

}

.nav-links-num {
    position: absolute;
    top: 11rem;
    font-size: .675rem;
}

.nav-links-num-2 {
    position: absolute;
    top: 18.5rem;
    font-size: .675rem;
}

.nav-links-num-3 {
    position: absolute;
    top: 27rem;
    font-size: .675rem;
}


.nav-links-grid a li {
    padding-top: 2rem;
}

/* home section 1 */

main, header {
    position: relative;
    z-index: 2;
    background-color: rgb(249 241 236);
}

main {
    z-index: 1;
}

.home-section1 {
    justify-content: space-between;
    padding: 3rem 0 6rem 0;
}

.subtitle {
    opacity: 1;
    margin: 1rem 0;
    padding-left: 4px;
    font-family:'Manrope-Regular';
    color: rgb(76 64 55);
    font-size: 10px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.title {
    margin-top: 6rem;
    color: rgb(76 64 55);
    font-size: 6.5vw;
}

.line-interior {
    width: 5vw;
    height: 3px;
    align-self: center;
    margin-top: 20px;
    background-color: rgb(76 64 55);
}

.interior {
    gap: 2.5rem;
}

.two-horizontal-btn {
    margin-top: 8rem;
    gap: 3rem;
}

.btn {
    position: relative;
    width: 11rem;
    padding: 1rem 1.5rem;
    background-color: rgb(76 64 55);
}

.btn-label {
    position: relative;
    color: rgb(255 255 255);
    font-size: 10px;
    letter-spacing: 4px;
    text-transform: uppercase;
    z-index: 10;
}

.overlay {
    position: absolute;
    inset: auto 0 0 0;
    width: 167.82px;
    height: 0;
    background-color: rgb(149 127 114);
    transition-duration: .5s;
}

.btn:hover .overlay {
    animation: overlay .6s linear .1s forwards;
}

/* animation */

@keyframes overlay {
    0% {
        height: 0;
    }
    100% {
        height: 42px;
    }
}

.about-btn {
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 -1px 0 0 rgb(76 64 55 / 25%);
}

.about-btn div {
    color: rgb(76 64 55);
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 4px;
}

.right-side-imgs {
    position: relative;
}

.right-side-img {
    width: 12vw;
    position: absolute;
    top: 50%;
    left: -41%;
    z-index: 3;
}

.right-side-img img, .about-img-1 img {
    width: 100%;
    border-top-left-radius: 25vw;
    border-top-right-radius: 25vw;   
}

.right-side-img-2 {
    width: 35vw;
    z-index: 2;
}

.right-side-img-2 img {
    width: 100%;
    margin-left: -6rem;
}

.right-side-img-3{
    position: absolute;
    top: 10%;
    left: 67.5%;
    width: 12vw; 
}

.right-side-img-3 img {
    width: 100%;
    z-index: 1;
}


/* home section 2 */

.home-section2 {
    padding: 6rem 0;
}

.home-section2 div {
    align-items: center;
    justify-content: space-between;
}

.home-section2 h2 {
    word-spacing: 0.8rem;
}

.presentation-text {
    line-height: 1.2;
}

.italic {
    font-style: italic;
}

/* home-section 3 */

.home-section3 {
    padding: 8rem 0; 
}

.we-do {
    align-items: end;
    justify-content: space-between;
}

.service-grid {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    margin-top: 3rem;
}

.furniture p, .blog-text, .text, .grid-text, .text-section-4, .text-section-5, .text-section-6 {
    font-size: 1.125rem;
    line-height: 1.5;
    margin-top: 2rem;
    color: rgb(149 127 114);
}

/* home section 4 */

.home-section4-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 3rem;
    padding: 8rem 0;
}

.girl-pic img {
    width: 36vw;
}

.grid-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.text-section-4 {
    margin-bottom: 4rem; 
}

.learn-more-btn {
    color: rgb(255 255 255);
    font-size: 10px;
    letter-spacing: 4px;
    text-transform: uppercase;
    z-index: 10;

    background-color: rgb(76 64 55);
    border: none;
}

/* home section5 */

.home-section5 {
    padding: 8rem 0;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.project-title {
    font-size: 2.5rem;
}

.view-project-btn {
    padding: 1rem 0rem;
    box-shadow: inset 0 -1px 0 0 rgb(76 64 55 / 25%);
}

.view-project-btn button {
    color: rgb(76 64 55);
    border: none;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 4px;
    cursor: pointer;
}

.delta-img, .royal-img {
    position: relative;
}

.delta-img img:first-child, .royal-img img:first-child {
    width: 100%;
    margin-top: 2rem;
}

.delta-img img:last-child, .royal-img img:last-child {
    position: absolute;
    width: 16vw;
    border-top-left-radius: 25vw;
    border-top-right-radius: 25vw;
}

.delta-img img:last-child {
    top: 28%;
    left: -12%;
}

.text-section-5 {
    margin: 1rem 9rem 4rem 0;
}

/* home section 6 */


.home-section6, .home-section7 {
    margin: 5rem 0;
}

.royal-img img:last-child {
    top: 29%;
    left: 84%;
}

.text-section-6 {
    margin: 2rem 0 4rem 0rem;
}

.margin-left {
    margin-left: 10rem;
}

/* home section 8 */


.home-section8 {
    padding: 10rem 0;
}

.clients-grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr .5fr;

}

.pic-grid, .pic-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 3rem;
    align-items: center;
}

.pic-grid div:first-child {
    display: grid;
    grid-gap: 18rem;
}

.pic-grid div:last-child {
    display: grid;
    grid-gap: 28rem;
}

.pic-grid div:first-child img, .right-side-pic-1 img {
    width: 10vw;
}

.pic-grid div:last-child img, .right-side-pic-2 img {
    width: 12vw;
}

.what-clients-say, .align-center {
    text-align: center;
}

.clients-feedback {
    margin-top: 11rem;
}

.clients-comment, .project-clients-comment {
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0;
}

.clients-comment img, .client-pic img {
    width: 10vw;
    border-radius: 50%;
}

.clients-name p {
    margin-bottom: 1rem;
    line-height: 1.5;
    color: rgb(149 127 114);
}

.clients-comment p:first-child {
    font-size: 1.125rem;
}

.clients-comment p:last-child {
    font-size: .8rem;
}

.arrows {
    justify-content: center;
    gap: 2rem;
}

.arrows img {
    width: 24px;
    justify-content: center;
    gap: 2rem;
}

.right-side-pic-1  {
    display: grid;
    grid-gap: 30rem;
}

.right-side-pic-2  {
    display: grid;
    grid-gap: 18rem;
}

/* home section 9 */

.articles {
    align-items: end;
    margin-bottom: 4rem;
}

.articles h2 {
    padding-right: 12rem;
    
}
/* home section 10  */

.home-section10 {
    margin-bottom: 8rem;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    padding-bottom: 10rem;
}

.blog-grid div img {
    width: 100%;
}

.blog-grid div h3 {
    margin-top: 1rem;
    transition-duration: .5s;
}

.blog-grid div h3:hover {
    opacity: .6;
}

/* footer */

footer {
    display: block;
    position: sticky;
    bottom: 0;
    background-color: rgb(229 217 207);
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    color: rgb(76 64 55);
    padding: 8rem 0;
}

.footer-grid div:last-child h3 {
    margin-bottom: 2rem;
}

.icons {
    align-items: center;
    opacity: .8;
    gap: 2rem;
    padding-top: 5rem;
    filter: contrast(0.1);
}

.icons img:hover{
    opacity: .6;
}

.footer-list a li {
    margin-top: 2rem;
}

.follow-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 3rem;
    overflow: hidden;
}

.follow-grid img {
    width: 10vw;
    transition: .5s ease;
}

.follow-grid img:hover {
    transform: scale(1.2);
}

.bottom-text {
    text-align: center;
    padding: 2.5rem 0;
    font-size: 12px;
    color: rgb(229 217 207);
    background-color: rgb(76 64 55);
    line-height: 1rem;
}

.white-font {
    color: rgb(249 241 236);
    transition-duration: .3s;
}

.white-font:hover {
    opacity: .65;
}

.footer-description {
    width: 100%;
    max-width: 24rem;
    margin-top: 2rem;
    color: rgb(76 64 55);
    font-size: 1rem;
    line-height: 1.5rem;
}


/* contact page */

.contact-container {
    max-width: 80rem;
    width: 80%;
    margin: 0 auto;
}

.contact-title-icons {
    padding-top: 7rem;
}

.contact {
    align-items: flex-end;
    justify-content: space-between;
}

.contact-title h1 {
    font-size: 7rem;
}

.contact-title p {
    width: 68%;
    color: rgb(149 127 114);
    font-size: 1.125rem;
    line-height: 1.5;
    margin: 2rem 0;
}

.soc-media-content p {
    font-size: 1rem;
    color: rgb(149 127 114);
    font-weight: bold;
}

.padding {
    padding: 2rem 0px;
}

.contact-form {
    flex-direction: column;
    gap: 2rem;
    margin: 6rem 0;
    padding: 6rem 5rem;
    border: 1px solid rgb(230 230 230);
    background-color: rgb(255 255 255);
}

.contact-form input:not(:last-child) {
    min-height: 3.2rem;
    margin-bottom: 1.5rem;
    padding: 1rem 2rem;
    border: 1px solid rgb(229 217 207);
    outline: none;
}

.contact-form textarea {
    min-height: 3.2rem;
    margin-bottom: 1.5rem;
    padding: 1rem 2rem 6rem;
    border: 1px solid rgb(229 217 207);
    outline: none;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: rgb(153 153 153); 
    font-size: 1rem;
    font-family:'Manrope-Regular';
}

.submit-btn {
    width: 7rem;
    min-height: 3.2rem;
    border: 1px solid rgb(229 217 207);
    background-color: rgb(76 64 55);
    font-family: Manrope,sans-serif;
    color: rgb(255 255 255);
    font-size: 10px;
    letter-spacing: 4px;
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: .5s;
}

.submit-btn:hover {
    opacity: .8;
}

.FAQ h2 {
    margin-bottom: 3rem;
}

.faqTop {
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 2.5rem;
    border-bottom: 1px solid rgb(229 217 207);
    cursor: pointer;
    transition-duration: .8s;
}

.faq.clicked .faq-bottom-text {
    display: block;
    animation: fade 1s ease-in-out;
}

.faqTop h4 {
    font-size: 1.25rem;
    color: rgb(76 64 55);
    font-weight: bold;
}

.faq-icon {
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 4.5rem;
    height: 4.5rem;
    border: 1px solid rgb(229 217 207);
    cursor: pointer;
}

.faq-icon img {
    height: 1.6rem;
    transition-duration: .8s;
}

.faq.clicked .faq-icon img {
    transform: rotateZ(135deg);
}

.faq-bottom-text {
    width: 100%;
    max-width: 57rem;
    color: rgb(149 127 114);
    line-height: 1.5;
    padding: 2rem 2.5rem 2.5rem;
    display: none;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.padding-bottom {
    padding-bottom: 8rem;
}

/* About page */

.about-title h1 {
    font-size: 7rem;
}

.about-img {
    align-items: center;
    margin: 7rem 0;
}

.about-img-1, .about-img-2 {
    width: 20rem;
}

.about-img-2 img {
    width: 100%;
    margin-top: 9rem;
}

.middle-text h3 {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    font-size: 2.5rem;
    line-height: 1.2;
}

.about-grid {
    display: grid; 
    grid-row-gap: 4rem;
    grid-column-gap: 4rem;
}

.about-grid div:first-child {
    width: 100%;
    max-width: 48rem;
    color: rgb(149 127 114);
    font-size: 1.5rem;
    line-height: 1.6;
}

.about-grid div:last-child, .about-text-small p, .results-content p {
    width: 100%;
    max-width: 24rem;
    grid-area: none;
    color: rgb(149 127 114);
    line-height: 1.5;
}

.golden-bulbs {
    width: 35vw;
    margin: 6rem 0;
}

.golden-bulbs img {
    width: 100%;
}

.about-text-small {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-text-small p {
    grid-column: 2;
}

/* about section 2  */

.about-section-2, .about-section-3 {
    margin: 7rem auto;
}

.achievements {
    justify-content: space-around;
}

.results-content {
    width: 100%;
    max-width: 32rem;
}

.results-content h2 {
    margin-bottom: 2rem;
}

.results-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 4rem;
}

.results-grid {
    color: rgb(149 127 114);
    font-size: 1.25rem;
}

.results-grid div h2 {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    font-family: 'Manrope-Regular';
}

/* about section 3 */


.our-team-title {
    margin-bottom: 2rem;
}

.team-members-profile {
    gap: 4rem;
}

.team-members-profile div:first-child img {
    width: 25vw;
    transition-duration: .5s;
}

.team-member-img {
    width: 26.8vw;
    transition-duration: .5s;
}

.team-member h3 {
    margin: 2rem 0;
}

.team-member p {
    color: rgb(149 127 114);
    line-height: 1.5;
    margin-bottom: 8rem;
}

.team-member {
    overflow: hidden;
}

.team-member img:hover {
    transform: scale(1.1);
    overflow: hidden;
}


/* team member section 1 */

.team-member-prof {
    align-items: center;
    gap: 4rem;
    padding-bottom: 8rem;
    border-bottom: 1px solid rgb(229 217 207);
}

.team-member-prof div:first-child img {
    width: 43vw;
    margin-top: 3rem;
}

.team-member-prof div:last-child h1 {
    font-size: 6rem;
}

.team-member-prof div:last-child p, .client-comment, .list, .list-2, .about-project p, .what-we-did p, .project-results p {
    font-size: 1.1rem;
    color: rgb(149 127 114);
    line-height: 1.6;
}

.team-member-prof div:last-child h3 {
    margin: 2rem 0;
    color: rgb(149 127 114);
}

.list, .list-2 {
    padding-left: 2.5rem;
}

.list li {
    margin-top: 1rem;
    list-style: disc;
}

/* team member section 2 */

.team-member-post h2 {
    margin: 6rem 0 2rem 0;
}

.blog-post-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5rem;
}

.blog-post img {
    width: 30vw;
    margin-bottom: 2rem;
}

.blog-post h3 {
    margin: 1rem 0;
    transition-duration: .5s;
}

.blog-post h3:hover {
    opacity: .6;
}

.blog-post p {
    color: rgb(149 127 114);
    line-height: 1.5;
    margin-bottom: 6rem;
}

.horizontal-flex {
    align-items: center;
    gap: 4rem;
    color: rgb(149 127 114);
    font-size: .87rem;
}

.horizontal-flex div:nth-child(2) {
    width: 2rem;
    height: 1px;
    background-color: rgb(229 217 207);
}

/* service page */

.service-page h1 {
    font-size: 7rem;
    margin-bottom: 2rem;
}

.service-page p {
    width: 100%;
    max-width: 32rem;
    margin-bottom: 6rem;
    font-size: 1.25rem;
    line-height: 1.5;
    color: rgb(149 127 114);
}

.service-flex {
    align-items: center;
    margin: 7rem 0;
} 

.service-img {
    width: 40vw;
}

.service-img img {
    width: 100%;
}

.custom-furniture-rotate {
    width: 14%;
    margin-top: 12rem;
    white-space: nowrap;
    transform: rotate(-90deg);
}

.custom-furniture-rotate h2 {
    font-size: 3rem;
}

.details h3 {
    font-size: 2.5rem;
    line-height: 1.2;
}

.details p {
    width: 100%;
    max-width: 24rem;
    margin: 1rem 0 2rem;
    font-size: 1.125rem;
    line-height: 1.5;
    color: rgb(149 127 114);
}

.details button {
    padding: 1.5rem .5rem;
    color: rgb(76 64 55);
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 4px;
    border: none;
    text-transform: uppercase;
    box-shadow: inset 0 -1px 0 0 rgb(76 64 55 / 25%);
    color: rgb(76 64 55);
    cursor: pointer;
}

/* projects */

.project-section1-flex {
    align-items: center;
    gap: 7rem;  
}

.project-main-photo {
    margin: 8rem 0;
    width: 54vw;
}

.project-main-photo img {
    width: 100%;
}

.delta-text {
    color: rgb(149 127 114);
    font-size: 1.125rem;
}

.margin-bottom {
    margin: 1.5rem 0 12rem 0;
}

.project-grid-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: -50%;
    padding: 3rem;
    background-color: rgb(229 217 207);
}

.column {
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.bold {
    font-weight: bold;
}

.divider {
    width: 100%;
    max-width: 64rem;
    height: 1px;
    margin: 5rem auto;
    background-color: rgb(229 217 207);
}

/* about project section */

.project-container {
    width: 90%;
    max-width: 64rem;
    margin: 3rem auto;
}

.about-project h2, .what-we-did h2, .project-results h2 {
    margin-bottom: 2rem;
    font-size: 3rem;
}

.about-project p {
    margin-top: 2rem;
}


/* what we did section */

.list-2 li {
    margin-top: 1rem;
    list-style-type: decimal;
}

.what-we-did img, .project-results img {
    margin-top: 2rem;
    width: 100%;
}

.client-comment {
    max-width: 46rem;
    width: 100%;
    padding: 10px 20px;
    border-left: 5px solid rgb(229 217 207);
}

.project-clients-comment {
    gap: 13rem;
    margin: 8rem 0;
}

.client-pic-name {
    align-items: center;
    gap: 3rem;
}

.clients-name {
    white-space: nowrap;
}

.bold-name {
    font-family: 'PlayfairDisplay-Regular';
    font-size: 1.5rem;
}

.next-project {
    text-align: center;
}

.project-bottom {
    position: relative;
}

.project-bottom-img {
    justify-content: center;
    opacity: .6;
    width: 100%;
}

.project-bottom-img img {
    margin: 2rem 0 8rem;
    width: 35%;
}

.next-project-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    white-space: nowrap;
}

.delta-text h2 {
    font-size: 3rem;
}

/* blog page */

.gap {
    gap: 12rem;
}

.blog-post-img {
    width: 56vw;
}

.blog-post-img img {
    width: 100%;
}

.left-side-img  {
    width: 20vw;
}

.left-side-img img {
    width: 100%;
}

.right-side-content {
    margin-top: 3rem;
    gap: 3rem;
    border-bottom: 1px solid rgb(229 217 207);
}

/* latest post section */

.bottom-flex {
    gap: 2rem;
}

.latest-post-section {
    position: relative;
    margin-top: 12rem;
    z-index: 1;
}

.latest-post-sticky {
    position: sticky;
    top: 2rem;
}

.latest-post-sticky h2 {
    white-space: nowrap;
}

.btn-flex {
    display: flex;
    flex-direction: column;
    width: 64%;
}

.blog-post-btn-1 {
    background-color: rgb(76 64 55);
    color: rgb(255 255 255);
    transition-duration: .5s;
}

.blog-post-button, .blog-post-btn-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3rem;
    margin: 1rem 0;
    border: 1px solid rgb(149 127 114);
    font-size: 10px;
    letter-spacing: 4px;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;     
}

.blog-post-button {
    color: rgb(149 127 114); 
    transition-duration: .5s;
}

.blog-post-btn-1:hover {
    opacity: .6;
}

.blog-post-button:hover {
    background-color: rgb(76 64 55);
    color: #fff;
}

.latest-post-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 3rem;
    grid-column-gap: 3.5rem;
    margin-bottom: 10rem;
}

.blog-post-2 img {
    width: 18vw;
}

.horizontal-flex-2 {
    align-items: center;
    gap: 1rem;
    color: rgb(149 127 114);
    font-size: .87rem;
}

.horizontal-flex-2 div:nth-child(2) {
    width: 2rem;
    height: 1px;
    background-color: rgb(229 217 207);
}

.blog-post-2 h3 {
    font-size: 1.4rem;
    width: 100%;
    transition-duration: .5s;
}

.blog-post-2 h3:hover {
    opacity: .6;
}

.blog-post-2 p {
    width: 100%;
}

/* news page */

.news-page-title h1 {
    font-size: 7rem;
}

.btn-flex-2 {
    flex-direction: row;
    gap: 1rem;
}

.news-flex {
    gap: 3rem;
}

.blog-post-3 {
    margin: 6rem 0;
    width: 34%;
}

.blog-post-3 img {
    width: 30vw;
}

.blog-post-3 h3, .blog-post-3 p {
    width: 100%;
    transition-duration: .5s;
}

.blog-post-3 h3:hover  {
    opacity: .6;
    cursor: pointer;
}


/* Resources pages */

.title-resources {
    font-size: 7rem;
    line-height: 1;
}

.padding-top {
    padding-top: 8rem;
}

.blog-img {
    padding: 2rem 0;
    width: 100%;
}

/*  */

.blog-container {
    width: 90%;
    max-width: 67rem;
    margin: 3rem auto;
}

.what-we-did h3 {
    margin: 3rem 0 1rem;
    font-size: 2.5rem;
}

.left-border {
    margin: 3rem 0;
    padding: 10px 20px;
    border-left: 5px solid rgb(229 217 207);
}

.post-flex {
    align-items: center;
    gap: 6rem;
}

.designer-div {
    padding-left: 4rem;
    border-left: 0.5rem solid rgb(229 217 207);
}

.designer-flex {
    align-items: center;
    gap: 2rem;
    transition-duration: .5s;
}

.designer-flex:hover {
    transform: scale(.95);
}

.designer-img {
    width: 6rem;
    border-radius: 100%;
}

.designer-name {
    color: rgb(76 64 55);
    font-size: 1.125rem;
    font-weight: bold; 
}

.icons-2 {
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
    filter: contrast(0.1);
}

.icons-2 img {
    width: 1.5rem;
    transition-duration: .5s;
}

.icons-2 img:hover {
    opacity: .6;
}

.small-font {
    font-size: .9rem;
    max-width: 32rem;
}

